" Basic settings
set showmode
set scrolloff=8
set number
set relativenumber
set incsearch
set hlsearch
set ignorecase
set smartcase
set clipboard+=unnamed
set clipboard+=ideaput
set ideajoin
set commentary
set surround
set NERDTree
set easymotion " Enable easymotion plugin

" Enable window navigation in all IDE windows
set handler=0

" LunarVim-like leader key
let mapleader = " "

" Navigation between splits and tool windows
nnoremap <leader>h <C-w>h
nnoremap <leader>l <C-w>l
nnoremap <leader>j <C-w>j
nnoremap <leader>k <C-w>k


" EasyMotion settings
map <leader><leader>s <Plug>(easymotion-s)
map <leader><leader>f <Plug>(easymotion-f)

" Buffer navigation
nnoremap <leader>bn :next<CR>
nnoremap <leader>bp :prev<CR>
nnoremap <leader>bd :bd<CR>

" Project Explorer
nnoremap <leader>e :action ActivateProjectToolWindow<CR>


" Code actions
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>cr :action RenameElement<CR>
nnoremap <leader>cf :action ReformatCode<CR>

" LSP-like functionality
nnoremap gd :action GotoDeclaration<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gh :action ShowHoverInfo<CR>

" Split windows
nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>sh :action SplitHorizontally<CR>

" Terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
